<!------------footer------------------------>
<footer style="background: linear-gradient(to right, #bcb7bd, #d3a4eb) ;" class="page-footer font-small blue">
    <!-- website -->
    <div class="footer text-center py-3" >
      <a href="www.instagram.com/diamond_nails_eylashes">Instagram</a>
      <p>Diomond Beauty</p>
      <p>Contact Number: 0744733998</p>
      <p>Address: 95A, Lodge Road, So14 6re</p> 
    </div>
    <!-- website -->
   </footer>